{% extends "base.html" %}
{% block title %}login title{% endblock %}

{% block welcome_string%}
<h1> Welcome to login page</h1>
{% endblock %}

{% block main%}
<form method='POST' name='user_input_form' action="#">
  <p>Name:</p>
  <p><input type="text" name="username" placeholder="enter username"/></p>

  <p>Password:</p>
  <p><input type="password" name="password" placeholder="enter password"/></p>

  <p>Capcha:</p>
  <img id="picture" src="data:image/jpeg;base64,{{ img_data }}">
  <p><input type="text" class="form-control" name="user_captcha" id="user_captcha" placeholder="enter captcha">
  </p>

  <button type="submit">enter</button>
</form>

<p>Captcha result: {{captcha_result}}</p>
{% endblock %}

